@media only screen and (max-width: 1250px) {
    div.second {
        background-color: #00D483 ;
        display:flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .develop {
        width: 50%;
    
     }


     h1 {
         font-size: 7em;
     }

     .first p {
         font-size: 1.3em;
     }

     .centered button  {
         font-size: 1.3em;
     }


     
     .avatars img{
         width: 5em;
     }


     .navbar {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
     }

     .icon {
         display: inline-block;
         margin-right: 15px;
         color: white;

     }

     nav {
         display: flex;
         justify-content: flex-end;
         align-items: center;
         position: relative;
     }


    .icon:hover .navbar {
        display: flex;
        color: #000;
        flex-direction: column;
       
    }


    span.icon:hover {
        color:#00D483 ;
    }
}    


@media only screen and (max-width: 900px) {
    h1 {
        font-size: 5em;
    }

    .first p {
        font-size: 1em;
    }

    .centered button {
        width: 9em;
    }

    .centered button {
        font-size: 1em;
    }

    .centered {
        margin: 0;
        width: 90%;
    }
}

@media only screen and (max-width: 550px) {
    h1 { 
        font-size: 4.5em;
    }

    .first p {
    
        display:none;
    }

    .avatars {
        font-size: 1.1em;
    }

    .first {
        height: 500px;
    }

    .develop {
        width: 75%;
    }

    .centered {
        width: 95%;
    }
} 



@media only screen and (max-width:1750px){
    #whatWeLove{
        padding:40px 70px;
    }
}


@media only screen and (max-width:1260px){
    #tablet img{
     margin-top:40px;
    }
    body{
        font-size:80%;
    }
}

@media only screen and (max-width:980px)and (min-width:800px){
    #bigger{
        display: flex;
        justify-content: space-between;   
    }


}

@media only screen and (max-width:980px){
    #wrap{
        flex-direction: column;
    }
    #whatWeLove{
        padding:40px 30px;
    }

    #thePics img{
        width:25%;
    }
}

@media only screen and (max-width:650px){
    #headOfWWL p{
        text-align: left;
        padding-left:10px;
    }
}

@media only screen and (max-width:530px){
    #thePics{
        padding:50px 0;
    }

    body{
        font-size: 70%;
    }

    #headOfWWL h1{
        font-size: 2em;
    }
    .forFlex{
        flex-direction: column;
    }

    .forFlex div{
        margin-right:10px;
    }
}